.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.modalgroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:85vh;
  width:70%;
}
.access-buttons-media{
  display: flex;
  width: 100%;
  z-index: 10;
  position: relative;
}
div.modalComments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
  margin-left: 10px;
}
.comment-row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.comment-row button{
  width: auto;
  margin-right: 15px;
}
.comment-content {
  display: flex;
}
.c {
  width: 63%;
  position: relative;
}
.foot {
  display: flex;
  flex-direction: row; 
}
.textarea {
  width:100%;
  height: 100%;
  resize: none;
}
.footButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot button {
  color: black;
  background-color: transparent;
}
.form-area {
  display: flex;
  flex-direction: row;
  width: 100%;
}
div.comm {
  height: 80%;
  width: 100%;
  display: block;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.comm::ng-deep.ng-star-inserted{
  width: 100%;
}
.mat-form-field {
  width: 100%;
}
img.resp {

  width: 100%;
  height: 100%;
  max-width: auto;
  min-width: auto;
  object-fit: contain;
}
video.resp {

  width: 100%;
  height: 100%;
  max-width: auto;
  min-width: auto;
  object-fit: contain;
}
.play-icon-content {
  width: 100%;
  height: 100%;
  position: absolute;
}
.play-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.icon-display {
  transform: scale(0.8);
}
.icon-play{
  width: 15vw;
  height: 15vw;
  font-size: 14vw;
  color: white;
} 
.trashIcon {
  background: transparent;
  color: aliceblue;
  display: none;
  position: absolute;
  right: 0%;
  z-index: 10;
}
.trashIcon button {
  background: transparent;
}
div.c:hover  .trashIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}
div.imagen-component:hover  .trashIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}
img.comment{
  margin-left: 5%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  max-width: auto;
  min-width: auto;
  object-fit: cover;
}
button {
  outline: none;
}
@media (max-width: 747px) {
  div.modalgroup {
    display: inline-block;
    width: 100%;
    margin-top: -21px;
  }
  div.modalComments {
    display: flex;
    justify-content: stretch;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0px;
  }
  div.comm-likes  {
    margin: 15px auto auto 20px;
  }
  div.comm  {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    max-height: 300px;
  }
  div.foot{
    display: flex;
    justify-content:stretch;
  }
  .texto {
    width:100%;
  }
  div.c {
    display:inline-block;
    width: 100%;
  }
  .trashIcon {
    display: none;
    position: absolute;
    left: auto;
    right: 0%;
    z-index: 10;
}
  .back-grid {
    color: darkgrey;
    width: 20px;
    height: 20px;
    font-size: 1.7em;
    position: fixed;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 65px;
    z-index: 10;
  }
  img.resp {
    width: 100%;
    object-fit: fit;
}
video.resp {
  width: 100%;
  object-fit: fit;
}
}
