.contenedor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.wraper-login {
    position: relative;
    width: 100%;
    height: 100%;
}

.wraper-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wraper-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wraper-text .name {
    font-size: 2.5em;
    margin-bottom: 30px;
}
.wraper-text .description {
    font-size: 1.5em;
    margin-bottom: 30px;
}
input {
    width: 10vw;
    height: 5vh;
    background-color: burlywood;
    border: none;
    margin: 3px;
    border-radius: 5px;
}
input:hover {
    transform: scale(1.1);
}
.backgroundvideo {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.imagenesWall {
    width: auto;
    height: 125%;
    object-fit: contain;
}

.data-form {
    color: cornsilk;
    position: absolute;
    background-image: linear-gradient(45deg, #0000007a, transparent);
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    backdrop-filter: blur(8px);
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 400px;
    height: 450px;
}
@media (min-width: 1900px) {
    .backgroundvideo {
       width: 100vw;
       height: auto;
        
    }
    .imagenesWall {
        width: 100vw;
        height: auto;
        object-fit: contain;
    }
}
@media (max-width: 740px) {
    .backgroundvideo {
        left: 50%;
        transform: translateX(-50%);
    }
    .imagenesWall {
        height: 100%;
        object-fit: contain;
    }
    input {
        width: 30vw;
    }
}
/* @media (max-height: 414px) {
    .data-form {
        width: 320px;
        height: 360px;
    }
} */
@media (max-height: 414px) and (orientation: landscape) {
    .backgroundvideo {
        transform: translateX(0%);
    }
    .imagenesWall {
        width: 100vw;
        height: auto;
        object-fit: contain;
    }
    .data-form {
        top: 32%;
    }
    input {
        height: 10vh;
    }
}
