.space {
  flex: 1 1 auto;
}

.formulario {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* .formulario:first-child() {
  height: 80%;
} */

.input-flex {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.mat-toolbar {
  background-color: #21953c;
}